<%= link_to icon_image_tag('calendar_add'), { :action => :new }, :title=>"新規作成" %>
<%= link_to icon_image_tag('calendar_view_day'), { :action => :day, :user_id => user_id }, :title=>"日表示をする" %>
<%= link_to icon_image_tag('calendar_view_week'), { :action => :week }, :title=>"週表示をする" %>
<%= link_to icon_image_tag('calendar_view_month'), { :action => :month }, :title=>"月表示をする" %>