<%= error_messages_for 'task_log' %>

<!--[form:task_log]-->
<p><label for="task_log_message">Message</label><br/>
<%= text_field 'task_log', 'message'  %></p>

<p><label for="task_log_create_at">Create at</label><br/>
<%= datetime_select 'task_log', 'create_at'  %></p>
<!--[eoform:task_log]-->

