<% for column in TaskLog.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @task_log.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @task_log %> |
<%= link_to 'Back', :action => 'list' %>
